.infobox{
    border: 3px brown dotted;
    height: 20%;
    width: 50%;
    margin: 25%;
    margin-top: 100px;
    border-radius: 5%;
    background-color: wheat;
    display: inline-block;
}

 body{
    background-image: url(background2.jpg);
    background-size: cover;
 }

 .profile{
    height: 30%;
    width: 30%;
    border-radius: 10px;
    margin: 35px 250px;
 }

 span{
    font-weight: bold;
 }

 li{
    font-size: larger;
    margin: 30px;
 }
